.release__container {
  border: 1px solid $color-lowlight;
  overflow: hidden;
  position: relative;
}

.release__background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: $unit / -4;
  left: $unit / -4;
  right: $unit / -4;
  opacity: .1;
  position: absolute;
  top: $unit / -4;
  z-index: -1;

  @supports (filter: blur($unit / 4)) {
    filter: blur($unit / 4)
  }
}

.release__meta-container {
  display: flex;
  padding: $unit $unit 0;
}

.release__meta-img-container {
  max-width: 35%;
}

.release__meta-info {
  padding-left: $unit;
}

.release__listen-container {
  padding: $unit;
}

.release__listen-links-container {
  display: flex;
  justify-content: space-between;
}
