html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @extend %font-default;

  color: $color-text;
  counter-reset: tracklist;
  margin: 0;

  em {
    @extend %font-default-em;
  }

  @supports (text-rendering: optimizeLegibility) {
    text-rendering: optimizeLegibility;
  }

  @media #{$mq-sm} {
    font-size: 120%;
  }
}

a,
a:link,
a:hover {
  color: $color-link;
}

button {
  @extend %font-default-strong;

  background-color: $color-link;
  border-radius: 0;
  border: 0;
  color: $color-background;
  cursor: pointer;
  font-size: $font-size-sm;
  outline: none;
  padding: $unit / 2;
  width: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
