%all-fonts {
  .wf-loading & {
    visibility: hidden;
  }
}

%font-default {
  @extend %all-fonts;

  font-family: $font-default;
  font-style: normal;
  font-weight: 100;
}

%font-default {
  @extend %all-fonts;

  font-family: $font-default;
  font-style: normal;
  font-weight: 100;
}

%font-default-em {
  @extend %all-fonts;

  font-family: $font-default;
  font-style: italic;
  font-weight: 100;
}

%font-default-strong {
  @extend %all-fonts;

  font-family: $font-default;
  font-style: normal;
  font-weight: 500;
}

%font-display {
  @extend %all-fonts;

  font-family: $font-display;
  font-style: normal;
  font-weight: 400;
}

.h1 {
  @extend %font-default-strong;

  border-bottom: 1px solid $color-text-inverse;
  font-size: 2em;
  line-height: 1;
  margin-bottom: $unit * 1;
  margin-top: 0;
  padding-bottom: $unit / 4;
  text-transform: uppercase;
  width: $unit * 2;
}

.h2 {
  @extend %font-default-strong;

  font-size: 1em;
  line-height: 1;
  margin: 0;
}

.h6 {
  @extend %font-default-strong;

  border-bottom: 1px solid $color-text-inverse;
  font-size: 1em;
  line-height: 1;
  margin-bottom: $unit * 1;
  margin-top: 0;
  padding-bottom: $unit / 4;
  text-transform: uppercase;
  width: $unit * 2;
}

.label {
  @extend %font-default-em;

  font-size: .8em;
  margin: 0;
}

.body {
  @extend %font-default-em;

  text-transform: lowercase;
}

.h5 {
  font-size: $font-size-sm;
  margin: 0;
}

.type-display {
  @extend %font-display;

  text-transform: uppercase;
  text-align: center;
  font-size: 40vw;
  margin: 0;
  line-height: 1.2;

  @media #{$mq-md} {
    font-size: $unit * 10;
  }
}
